.actions {
  margin-top: 1em;
}

.alert-message {
  border: 2px solid black;
  display: block;
  font-size: large;
}

.lyrics {
  font-size: 12pt;
  line-height: 18pt;
}

.right {
  float: right;
  margin-left: 1em;
}

.warning {
  border-color: red;
  color: white;
  background-color: crimson;
}
