@import _root_.auth.ChangePasswordData
@import controllers.authentication.routes.{AuthenticationController => AuthRoutes}
@import helper._
@import model._
@import views.html.passwordStrength
@import views.html.htmlForm.CSRFHelper
@import views.html.htmlForm.bootstrap3._
@import views.html.htmlForm.bootstrap3.HtmlForm._
@(changePasswordForm: Form[ChangePasswordData], user: User)(implicit
  csrfHelper: CSRFHelper, messages: Messages, request: WrappedRequest[_], webJarAssets: WebJarAssets)
@main(subtitle=Messages("change.password.title")) {
  @alertsFromForm(changePasswordForm)
  <fieldset class="col-md-6 col-md-offset-3 spaceAboveBig spaceBelowBig">
    @* <legend>@Messages("change.password")</legend> *@
    @form(action = AuthRoutes.submitNewPassword, 'autocomplete -> "off") {
      <p class="info">@Messages("strong.password.info")</p>
      @csrfHelper.formField
      @passwordStrength(changePasswordForm("new-password"), maybePlaceholder = Some(Messages("new.password")))
      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("change")</button>
        </div>
      </div>
    }
  </fieldset>
  <p>Not registered yet? <a href="@AuthRoutes.signUp()">Sign up now!</a></p>
  <p>Already registered and know your password? <a href="@AuthRoutes.login()">Sign in!</a></p>
}
