@import auth.ForgotPasswordData
@import controllers.authentication.routes.{AuthenticationController => AuthRoutes}
@import helper._
@import views.html.htmlForm.CSRFHelper
@import views.html.htmlForm.bootstrap3._
@import views.html.htmlForm.bootstrap3.HtmlForm._
@(forgotPasswordForm: Form[ForgotPasswordData])(
    implicit csrfHelper: CSRFHelper, messages: Messages, request: RequestHeader, webJarAssets: WebJarAssets)
@main(Messages("forgot.password.title")) {
  <fieldset class="col-md-6 col-md-offset-3 spaceAboveBig spaceBelowBig">
    <legend>@Messages("change.password")</legend>
    @form(action = AuthRoutes.submitForgetPassword(), 'autocomplete -> "off") {
      <p class="info">@Messages("forgot.password.info")</p>
      @csrfHelper.formField
      @inputter(
        field = forgotPasswordForm("userId"),
        label = "",
        maybePlaceholder = Some("User ID"),
        asCode = true
      ).toHtml
      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("send")</button>
        </div>
      </div>
    }
    <p class="spaceAbove">Not registered yet? <a href="@AuthRoutes.signUp()">Sign up now!</a></p>
    <p>Already registered and know your password? <a href="@AuthRoutes.login()">Sign in!</a></p>
  </fieldset>
}
