@(msg: String)(implicit request: RequestHeader, webJarAssets: WebJarAssets)
@main("") {
  @if(msg.nonEmpty) { <h3>@msg</h3> }
  <div class="right">
    <img src='@routes.Assets.at("images/favicon.png")' />
    <p style="text-align: center; margin-top: 6px">Bob Marley (who did not write the song!)</p>
  </div>
  <p class="lyrics">Here's a little song I wrote<br/>
  You might want to sing it note for note<br/>
  Don't worry, be happy<br/>
  In every life we have some trouble<br/>
  But when you worry you make it double<br/>
  Don't worry, be happy<br/>
  Don't worry, be happy now.</p>
  <p>-- Bobby McFerrin</p>
}
