@import auth.LoginData
@import controllers.authentication.routes.{AuthenticationController => AuthRoutes}
@import views.html.helper._
@import views.html.htmlForm.bootstrap3.HtmlForm._
@(loginForm: Form[LoginData])(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)
@main("Log In") {
  @alertsFromForm(loginForm)
  @form(action = AuthRoutes.loginSubmit()) {
    @Html(inputter(loginForm("userId"), maybePlaceholder=Some("User ID")))
    @Html(inputter(loginForm("password"), maybePlaceholder=Some("password"), isPassword=true))
    <div class="actions btn-group" role="group">
      <input type="submit" value="Login" class="btn btn-primary">
      <a href="@AuthRoutes.loginShow()" class="btn btn-default">Cancel</a>
    </div>
  }
  <p class="spaceAbove">Did you forget your password? <a href="@AuthRoutes.passwordForgotShow()">Reset it!</a></p>
  <p>Not registered yet? <a href="@AuthRoutes.signUpShow()">Sign up now!</a></p>
}
