@import helper._
@import views.html.htmlForm.bootstrap3.HtmlForm._
@(loginForm: Form[LoginData])(implicit request: RequestHeader, messages: Messages, flash: Flash, webJarAssets: WebJarAssets)
@main(ApplicationController.title) {
  @loginForm.errors("alert").map { error =>
    <div class="alert-message text-warning bg-warning">
      <strong>@error.key</strong>: @error.messages.mkString(", ")
    </div>
  }
  @form(action = controllers.routes.Account.performLogin()) {
    @Html(inputter(loginForm("userId"), maybePlaceholder=Some("User ID")))
    @Html(inputter(loginForm("password"), maybePlaceholder=Some("Password")))
    <div class="actions btn-group" role="group">
      <input type="submit" value="Login" class="btn btn-primary">
      <a href="@controllers.routes.Account.login()" class="btn btn-default">Cancel</a>
    </div>
  }
}
