@(subtitle: String)(content: Html)(implicit request: RequestHeader, webJarAssets: WebJarAssets)
<!DOCTYPE html>
<html>
    <head>
      <title>@subtitle</title>
      <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
      <script src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
      <script src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))'></script>
      <link href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))' rel="stylesheet" />
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
      <header class="jumbotron subhead" id="overview">
        <div class="right" style="padding-top: 60px; margin-right: 3em; font-size: larger"><a href="https://github.com/mslinn/play-authenticated" target="_blank" rel="noopener noreferrer">GitHub project</a></div>
        <div class="container">
          <h1>@ApplicationController.title<small><br/>@subtitle</small></h1>
        </div>
      </header>
      <div class="container">
        @menu(request)
        <div class="container-fluid">
          @request.flash.get("success").map { msg =>
            <div class="alert-message text-success bg-success spaceBelow">
              <strong>@msg</strong>
            </div>
          }
          @request.flash.get("alert").map { error =>
            <div class="alert-message text-warning bg-warning spaceBelow">
              <strong>@error</strong>
            </div>
          }
          @content
        </div>
      </div>
    </body>
</html>
