@import views.html.htmlForm.bootstrap3._
@import views.html.htmlForm.bootstrap3.HtmlForm._
@(field: Field, label: String="", maybePlaceholder:Option[String]=None, style: String = "")(implicit request: RequestHeader, messages: Messages)
<section class="password-strength-section">
  @inputter(field, label=label, maybePlaceholder=maybePlaceholder, isPassword=true, data=List("pwd"->"true"), style=style).toHtml
  <meter max="4" id="password-strength-meter" value=""></meter>
  <p id="password-strength-text"></p>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
<script src="@controllers.routes.Assets.at("javascripts/zxcvbnShim.js")"></script>
