@import auth.ChangePasswordData
@import controllers.authentication.routes.{AuthenticationController => AuthRoutes}
@import model.Id
@import views.html.helper._
@import views.html.htmlForm.CSRFHelper
@(resetPasswordForm: Form[ChangePasswordData], tokenId: Id)(
    implicit csrfHelper: CSRFHelper, messages: Messages, request: RequestHeader, webJarAssets: WebJarAssets)
@main(Messages("reset.password.title")) {
  <fieldset class="col-md-6 col-md-offset-3">
    <legend>@Messages("reset.password")</legend>
    @form(action = AuthRoutes.submitResetPassword(tokenId), 'autocomplete -> "off") {
      <p class="info">@Messages("strong.password.info")</p>
      @csrfHelper.formField
      @passwordStrength(resetPasswordForm("password"), label = Messages("password"), maybePlaceholder = Some(Messages("password")))
      <div class="form-group">
        <div>
          <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("reset")</button>
        </div>
      </div>
    }
  </fieldset>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
  <script src="@controllers.routes.Assets.at("javascripts/zxcvbnShim.js")"></script>
}
