@import helper._
@import controllers.WebJarAssets
@(signupForm: Form[SignupData])(implicit messages: Messages, request: RequestHeader, webJarAssets: WebJarAssets)
@main("Sign Up") {
  @form(action = controllers.routes.Account.saveUser()) {
    <fieldset>
      @inputText(signupForm("email"))
      @inputText(signupForm("userId"))
      @inputPassword(signupForm("password"))
    </fieldset>
    <div class="actions">
      <input type="submit" value="Signup" class="btn primary"> or
      <a href="@controllers.routes.ApplicationController.index()" class="btn">Cancel</a>
    </div>
  }
}
