@import auth.SignUpData
@import auth.AuthForms.changePasswordForm
@import controllers.WebJarAssets
@import controllers.authentication.routes.{AuthenticationController => AuthRoutes}
@import helper._
@import views.html.htmlForm.bootstrap3.HtmlForm._
@(signupForm: Form[SignUpData])(implicit messages: Messages, request: RequestHeader, webJarAssets: WebJarAssets)
@main("Sign Up") {
  @form(action = AuthRoutes.saveUser()) {
    @alertsFromForm(signupForm)
    @Html(inputter(signupForm("email"),    maybePlaceholder=Some("email"), isEmail=true))
    @Html(inputter(signupForm("userId"),   maybePlaceholder=Some("Desired user ID")))
    @passwordStrength(changePasswordForm("password"), maybePlaceholder = Some(Messages("password")))
    <div class="actions btn-group" role="group">
      <input type="submit" value="Signup" class="btn btn-primary">
      <a href="@AuthRoutes.signUp()" class="btn btn-default">Cancel</a>
    </div>
  }
}
