@import auth.AuthForms.changePasswordForm
@import auth.SignUpData
@import controllers.WebJarAssets
@import controllers.authentication.routes.{AuthenticationController => AuthRoutes}
@import views.html.helper._
@import views.html.htmlForm.bootstrap3.HtmlForm._
@(signupForm: Form[SignUpData])(implicit messages: Messages, request: RequestHeader, webJarAssets: WebJarAssets)
@main("Sign Up") {
  @form(action = AuthRoutes.signUpSave()) {
    @alertsFromForm(signupForm)
    @Html(inputter(signupForm("firstName"), maybePlaceholder=Some("First name")))
    @Html(inputter(signupForm("lastName"),  maybePlaceholder=Some("Last name")))
    @Html(inputter(signupForm("email"),     maybePlaceholder=Some("email"), isEmail=true))
    @Html(inputter(signupForm("userId"),    maybePlaceholder=Some("Desired user ID")))
    @passwordStrength(changePasswordForm("password"), maybePlaceholder = Some(Messages("password")))
    <div class="actions btn-group" role="group">
      <input type="submit" value="Signup" class="btn btn-primary">
      <a href="@AuthRoutes.signUpShow()" class="btn btn-default">Cancel</a>
    </div>
  }
  <p class="spaceAbove">Already registered? <a href="@AuthRoutes.loginShow()">Sign in!</a></p>
}
